<div class="pager" ng-class="{disabled: maxPage == 0}">
  <ul>
    <li>
      <a href ng-click="nextPage(-1)" class="btn btn-white btn-square" ng-class="{'btn-current': currentPage == 0}">«</a>
    </li>
    <li ng-repeat="i in pages">
      <a href ng-click="onPage(i)" class="btn btn-white btn-square" ng-class="{'btn-current': i == currentPage}">{{i+1}}</a>
    </li>
    <li>
      <a href ng-click="nextPage(1)" class="btn btn-white btn-square" ng-class="{'btn-current': currentPage == maxPage - 1}">»</a>
    </li>
  </ul>
</div>
